
.flowername-container {
    /* border: 1px solid red; */
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flower-text {
    font-size: 24px;
    font-weight: bold;
    justify-items: center;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    width: 550px;
    margin-bottom: 13px;
}

.sort-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.products-number {
    margin-left: 90px;
}

.sort {
    margin-right: 90px;
    padding-left: 30px;
}

.sort-button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}


