* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.container {
    background: #725c3f;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.container ul {
    display: inline-flex;
    list-style: none;
    color: #7b4b36;
}

.container ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.container ul li a {
    text-decoration: solid;
    color: #fff
}

.active,
.container ul li a:hover {
    background: #d8d7b2;
    border-radius: 20px;
}